ENVIRONMENT=development
DATABASE_URL=postgres://grainy:grainy@localhost:5432/grainy
DRIZZLE_PROXY_URL=http://localhost:8080
DRIZZLE_PROXY_TOKEN=token
DISCORD_CLIENT_ID=replace-with-discord-client-id
DISCORD_CLIENT_SECRET=replace-with-discord-client-secret
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=replace-with-random-secret
